@model List<EF_Code.Models.Turler>

@{
    ViewData["Title"] = "Kitap Türleri";
}


<h1 class="display-3">Kitap Türleri</h1>
<table class="table table-sm table-dark w-50">
    <thead class="bg-primary">
        <tr>
            <th>Tür ID</th>
            <th>Kitap Türü</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tur in Model)
        {
            <tr>
                <td>
                    @tur.Id
                </td>
                <td>
                    @tur.TurAd
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@tur.Id">Detaylar</a>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@tur.Id">Düzenle</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@tur.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

