@model Route

<div class="card mb-4 mt-3 shadow">

    <div class="card-body">
        <a class="card-title" asp-controller="Yolculuk" asp-action="Details" asp-route-id="@Model.RouteId" style="text-decoration:none; font-size:24px;">@Model.StartLocation <i class="fas fa-long-arrow-alt-right"></i> @Model.EndLocation</a>
        <p class="card-text"><b style="font-size:19px;">Güzergah:</b>  @Model.StartLocation > @Model.FirstStation > @Model.SecondStation > @Model.ThirdStation > @Model.EndLocation</p><br />

        <p style=" font-size:24px; text-align:center;">
            <b>@Model.Date </b>
            - @Model.Time
        </p>


    </div>
    <div class="card-footer text-center">
        <a asp-controller="Ticket" asp-action="Details" asp-route-id="@Model.RouteId" class="btn btn-primary btn-sm">İncele</a>

    </div>
</div>   